body {
	background-color: #ffffff;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
}

td.sidebar {
	width: 125px;
	background-color: #ccddff;
	font-family: arial, sans-serif;
	font-size: 10px;
	color: black;
}

td.maincontainer {
	min-width: 400px;
	background-color: #ffffff;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
}

td.comment {
	background-color: #eeeeee;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
}

td.code {
	background-color: #eeeeee;
	font-family: monospace;
	font-size: 13px;
	color: black;	
}

td.sidebar ul {
	list-style-image: url('/assets/arrow.gif');
	margin: 0px;
	padding: 15px;
}

td.maincontainer ul {
	list-style-image: url('/assets/arrow.gif');
}

a {
	color: #0000ff;
}

a:visited {
	color: #0000ff;
}

a:hover {
	color: #00ffff;
}

a:active {
	color: #00ffff;
}
